openapi: "3.0.3"
info:
  title: PokeAPI (subset)
  version: 2.7.0
  description: |
    Minimal subset of the PokeAPI spec covering only the endpoints used by this service.
    Full spec: https://github.com/PokeAPI/pokeapi/blob/master/openapi.yml
servers:
  - url: https://pokeapi.co/api/v2

paths:
  /pokemon-species:
    get:
      operationId: listPokemonSpecies
      summary: List Pokemon species (used to get total count)
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Paginated list of Pokemon species
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_pokemon_species_summary_list"

  /pokemon/{id}:
    get:
      operationId: getPokemon
      summary: Get a Pokemon by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Pokemon ID or name
      responses:
        "200":
          description: Pokemon details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pokemon_detail"

  /pokemon-species/{id}:
    get:
      operationId: getPokemonSpecies
      summary: Get a Pokemon species by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Pokemon species ID or name
      responses:
        "200":
          description: Pokemon species details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pokemon_species_detail"

components:
  schemas:
    paginated_pokemon_species_summary_list:
      type: object
      required:
        - count
        - results
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: "#/components/schemas/named_api_resource"

    named_api_resource:
      type: object
      required:
        - name
        - url
      properties:
        name:
          type: string
        url:
          type: string
          format: uri

    pokemon_detail:
      type: object
      required:
        - id
        - name
        - types
        - stats
        - sprites
      properties:
        id:
          type: integer
        name:
          type: string
        base_experience:
          type: integer
          nullable: true
        types:
          type: array
          items:
            $ref: "#/components/schemas/pokemon_type_slot"
        stats:
          type: array
          items:
            $ref: "#/components/schemas/pokemon_stat_entry"
        sprites:
          $ref: "#/components/schemas/pokemon_sprites"

    pokemon_type_slot:
      type: object
      required:
        - slot
        - type
      properties:
        slot:
          type: integer
        type:
          $ref: "#/components/schemas/named_api_resource"

    pokemon_stat_entry:
      type: object
      required:
        - base_stat
        - stat
      properties:
        base_stat:
          type: integer
        effort:
          type: integer
        stat:
          $ref: "#/components/schemas/named_api_resource"

    pokemon_sprites:
      type: object
      properties:
        front_default:
          type: string
          nullable: true
        other:
          type: object
          properties:
            official-artwork:
              $ref: "#/components/schemas/sprite_set"

    sprite_set:
      type: object
      properties:
        front_default:
          type: string
          nullable: true

    pokemon_species_detail:
      type: object
      required:
        - id
        - is_legendary
        - is_mythical
      properties:
        id:
          type: integer
        name:
          type: string
        is_legendary:
          type: boolean
        is_mythical:
          type: boolean
        capture_rate:
          type: integer
          nullable: true
