name: Validate Helm Chart

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  HELM_VERSION: v3.19.0 # renovate: datasource=github-releases depName=helm/helm

jobs:
  helm-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Helm lint
        run: |
          helm lint chart --strict
